@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TypoGrotesk';
  src: url('../public/font/TypoGrotesk.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'TypoGrotesk'
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

input:focus,
select:focus,
.form-control:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}