@tailwind base;
@tailwind components;

input:focus,
select:focus,
.form-control:focus,
textarea:focus,
button:focus {
  @apply outline-none;
  @apply shadow-none;
}

.btn {
  @apply rounded-full;
  @apply px-8;
  @apply py-2;
  @apply font-bold;
}
.btn-purple {
  @apply bg-purple2;
  @apply text-white;
}
.btn-purple:hover {
  @apply bg-purple1
}

.btn-green {
  @apply bg-lightgreen;
  @apply text-gray2;
}
.btn-green:hover {
  @apply bg-green
}

.flex-between {
  @apply flex;
  @apply items-center;
  @apply justify-between;
}

.flex-center {
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

.flex-col-center {
  @apply flex;
  @apply items-center;
  @apply flex-col;
}

@tailwind utilities;

@font-face {
  font-family: 'TypoGrotesk';
  src: url('../font/TypoGrotesk.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'TypoGrotesk'
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.fit-content {
  width: fit-content;
}